@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.speicaltext a {
  color: rgb(56, 56, 232);
  text-decoration: underline;
}
